button {
    background: none;
    border: none;
    color: gray;
}

button:hover{
    color: lightgray;
}

.nav-link {
    color: gray;
}

.nextprev {
    text-decoration: none;
    color: gray;
}

.filterButton {
    text-decoration: none;
    color: gray;
    background-color: lightgray;
}

.adminButton {
    text-decoration: none;
    color: lavender;
    background-color: limegreen;
}

img {
    width: 200px;
    height: 250px;
    object-fit: fill;
}

